*{
    font-family: 'Shadows Into Light', cursive;
}
.card-header{
    background-color: rgb(180, 174, 184);
}
h1 {
    background-color: rgb(155, 106, 160);
    text-align: center;
}
ul{
    list-style: none;
}
.container{
    display:inline-flex;
    background-color: rgb(180, 174, 184);
    padding: 10px;
}
#forecast{
    background-color: rgb(168, 145, 168);
}
footer{
    text-align: center;
}